body {
    margin: 0;
}

.name-display {
    display: block;
}

h1,
h2 {
    font-family: 'Bebas Neue',
        cursive;
    font-size: 48px;
    color: #363958;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-family: 'Roboto',
        sans-serif;
    color: #363958;
}

p {
    font-family: 'Roboto',
        sans-serif;
    color: dimgray;
    line-height: 24px;
}

.half-width p {
    margin-bottom: 50px;
    padding-right: 30px;
}

.orange-highlight {
    color: salmon;
}

.half-width {
    width: 41%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}

.half-width img {
    width: 85%;
}

.img-top-mar {
    margin-top: 45px;
}

.third-width img {
    width: 100%;
}

section {
    height: 500px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.link-button {
    font-family: 'Roboto',
        sans-serif;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: 500;
}

.goals-area {
    padding-top: 30px;
}

.project-head {
    text-align: center;
    margin: 0;
}

.project-area {
    background-color: #e5e5ee;
    padding: 80px;
}


.third-width {
    float: left;
    width: 29%;
    margin-left: 2%;
    padding: 1.5%;
    background-color: white;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
    margin-top: 45px;
}

.third-width h3 {
    text-align: center;
}

.project-first {
    margin-left: 0;
}

.facts-area {
    padding: 80px 0;
    height: 250px;
}

.facts-head {
    margin: 0;
    text-align: center;
}

.fourth-width {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 45px;
}

.fourth-width h3 {
    font-family: 'Roboto',
        sans-serif;
    color: tomato;
    font-size: 45px;
    margin-bottom: 0;
}

.fourth-width p {
    color: dimgray;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.testimonial-area {
    padding: 80px 0;
    background-color: #e5e5ee;
    height: 550px;
}

.testimonial-head {
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
}

.testimonial-area img {
    width: 60%;
    margin-top: 30px;
    margin-left: 100px;
}

.testimonial-area .half-width-testimonial {
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    border-radius: 19.7436px;
    padding-left: 0;
    width: 39%;
    float: left;
    margin-left: 4%;
}

.testimonial-area .half-width-testimonial h3 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'Bebas Neue',
        cursive;
    color: rgb(139, 139, 139);
    font-size: 35px;
}

.testimonial-area .half-width-testimonial p {
    text-align: center;
    margin-bottom: 0;
    padding-right: 0;
    padding-bottom: 25px;
    color: #363958;
    font-size: 20px;

}

.testimonial-review {
    margin-top: 100px;
    height: 24%;
    padding: 0px 40px !important;
}

.testimonial-review p {
    font-style: italic;
    font-weight: 500;
    color: dimgray;
}

.tes-margin {
    margin-top: 30px !important;
}

.tes-middle p {
    margin-top: 43px;
}

.inquiry-area {
    margin: 80px 0;
    margin-left: 15%;
    height: 225px;
    width: 906px;
    background-image: url("images/inquiry.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work-text {
    float: left;
    padding-left: 60px;
    padding-top: 18px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
}

.work-one {
    float: left;
    width: 40%;
}

.work-link {
    float: left;
    width: 52%;
    margin-top: 11%;
    text-align: right;
}


.link-chat {
    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: 500;
    line-height: 24px;
    margin-left: 38%;
}

footer h4 {
    font-family: 'Bebas Neue',
        cursive;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #696871;
    margin: 0;
}

footer h3 {
    font-family: 'Roboto',
        sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363958;
    text-align: center;
    margin: 20px 0;
}

.footer-img {
    text-align: center;
    float: left;
    width: 5%;

}

.first-img-footer {
    padding-left: 42%;
}

.footer-img img {
    width: 40px;
    height: 40px;
}

.footer-last-img {
    padding-right: 43%;
}

footer p {
    text-align: center;
    margin-top: 80px;
}

footer {
    padding-bottom: 10px;
}