body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

p {
    color: dimgray;
    padding-right: 30px;
}

.orange-highlight {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

section {
    height: 500px;
    padding-bottom: 100px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: 700;
}

.goals-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.skills-exp {
    text-align: center;
    margin-bottom: 50px;
}

.skills-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-experience {
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    background-color: white;
}

#MERN-Stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#novice-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}